<%- include('./partials/head') %>

  <main>

    <section>
      <div class="overmij">
        <h2>Skills <%= member.name+ " " + member.slug %> </h2>
        <p>HTML, CSS, Wordpress, PHP, Javascript Ik vind ze persoonlijk allemaal leuk en interessant, alleen mijn favoriete is PHP, want bij PHP leer je wat allemaal achter de scherm gebeurt en dat vind ik heel intrigerend. </p>
      </div>
      <div class="divpijl2"><i class="fa fa-solid fa-down-long pijl2"></i>
        
      </div>
    
        <div class="overmij">
          <h2>Nu</h2>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>
    
    </section> 
    <section class="divpijl1">
      <i class="fa_left-right fa-solid fa-left-long pijl1"></i>
     
    </section>
    <section>
      <img src="assets/duneya_img.png"  alt="Duneya Saleh">
    <div>
      <h1>Duneya Saleh</h1>
      <ul class="mijinfo">
        <li>14-02-2001</li>
        <li>Heerhugowaard</li>
        <li>Fdnd HVA</li>
        <li><a href="https://duneyasaleh.com/">duneyasaleh.com</a></li>
      </ul>
      <div class="socialbutton">
        <ul>
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/in/duneya-saleh-915858236/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/duneya_2001/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://nl.pinterest.com/buneya2001/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li> 
        </ul>
      </div>
    </div>
    </section>
    </main>


<%- include('./partials/foot') %>
